/BaoCao1-5.docx
/best_model.pkl
/car-price-prediction_v3.ipynb
/cardekho.csv
/checkData.ipynb
/columns_name_dataset00.csv
/Dataset 0.docx
/Day5..ipynb
/final_dataset.csv
/label_encoders.sav
/legislators-historical.yaml
/loctheonam.ipynb
/merged_dataset.csv
/merged_dataset01.csv
/merged_dataset02.csv
/merged_dataset03.csv
/merged_dataset04.csv
/mid.ipynb
/newSVD.ipynb
/processed_data
/processes2.csv
/Slides.pdf.pdf
/SVD.ipynb
/test.ipynb
/test1.py
/train.csv
/Xử lí để gộp dataset.docx